@import './../../../../assets/styles/variaveis.scss';

  * {
    font-family: "Sora", sans-serif;
  }
  
  body {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
      font-family: "Sora", sans-serif;
    }
  
  .table-ajuste{
      margin-bottom: 0;
  }
  
  .table-line{
      border: 1px solid $cor-linha;
      padding: 30px;
      border-radius: 10px;
  }
  
  .table-title{
      font-size: 1.3rem;
      margin-bottom: 20px;
      font-weight: 600;
      color: $verde-claro;
  }
  
  .content-title{
      margin: 10px 0px 30px 10px;
      color: $verde-escuro;
  }

  .filter-buttons{
    margin: 10px 0px 30px 10px;
  }
  
  .status-span{
      padding: 10px;
      border-radius: 10px;
  } 

  .container-custom {
    padding: 20px;
    margin-left: 16%;
    width: 80%;
    transition: margin-left 0.3s;
  }

.table thead th {
    border-top: azure;
}