<app-nav></app-nav>

<div class="container-custom">
    <div class="content-title">
        <h1>Bem-vindo(a)!</h1>
        <p>Confira suas ordens de serviço no menu "Suas ordens".</p>
    </div>
    <div class="table-line">
        <p class="table-title">Suas últimas ordens</p>
        <table class="table table-ajuste">
          <thead>
            <tr>
              <th>ID da ordem</th>
              <th>Status da ordem</th>
              <th>Data da atribuição</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ordem of ordens">
              <td>{{ ordem.id }}</td>
              <td>
                <span [ngClass]="{'badge-warning': ordem.status === 'Em andamento', 'badge-success': ordem.status === 'Concluída', 'badge-danger': ordem.status === 'Rejeitado', 'badge-secondary': ordem.status === 'Em análise'}" class="badge status-span">
                  {{ ordem.status }}
                </span>
              </td>
              <td>{{ ordem.data }}</td>
              <td>
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="abrirModal(ordem)">Ver</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
  </div>
