* {
    font-family: "Sora", sans-serif;
  }
  
  body {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
      font-family: "Sora", sans-serif;
    }
  

$cor-direita: #FAFAFA;
$branco: #FFFFFF;
$cor-botao: #FEFEFE;
$fundo-input: #F9F9F9;
$cor-linha: #C7C7C7;
$button-tabela: #7C7D7D;
$id-tabela: #595F5C;
$data-tabela: #022916;

$fundo-modal: #949494;
$preto: #000000;

$borda-input: #92E3A9;
$degrade-esquerda: linear-gradient(180deg, #19784B 0%, #045830 100%);
$verde-claro: #008059;
$verde-agua: #07BC86;
$hover-bt:#0C9068;
$verde-escuro: #054A29;
$verde-frase: #137547;

$fundo-mobile-login: #43CD95;

$hover-red: #d32f2f;

$vermelho: #DE5466;
$green-os: #5BBA6F;
$yellow-os: #D0BB00;

