<div class="left-section">
    <img class="img-decor" src="assets/images/img-login.png" alt="ilustração verde com duas pessoas">
</div>
<div class="right-section">
    <h4>Seja bem-vindo(a) ao</h4>
    <h3>ServiSys!</h3>
    <p class="frase-mobile">Seja bem-vindo(a) ao ServiSys</p>
    <p>Entre com suas credenciais para acessar o sistema</p>
    <form method="POST">  
        <label for="input1" class="login">Login</label>
        <input type="text" maxLength="50" id="input1" name="input1" required>

        <label for="input2" class="senha">Senha</label>
        <input type="password" maxLength="8" id="input2" name="input2" required>

        <button class="button" type="submit">Enviar</button>
    </form>
</div>