<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
  

<!-- Sidebar -->
<div class="navs-content">
    <!-- Sidebar -->
    
    <div class="sidebar">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid flex-column">
          <a class="navbar-brand" href="#"><img src="../../../assets/images/ServiSysLogoADM.png" height="27rem"></a>
          <hr class="separator">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav flex-column">
              <li class="nav-item">
                <div class="nav-link-clicado" routerLink="nova-ordem"><i class="bi bi-plus-circle" style="font-size: 1.3rem;"></i>Adicionar usuário</div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- Main content -->
    
      <!-- Navbar -->
      <nav class="navbar" id="navbar-top">
          <p class="title-page">Novo usuário</p>
          <span class="navbar-text ml-auto">Administrador</span>
          <a class="btn btn-outline-danger ml-3" href="#logout">Sair</a>
      </nav>

     </div>