<app-nav></app-nav>

<div class="container-custom">
    <div class="content-title">
        <p>Preencha abaixo as informações para requisitar a ordem de serviço:</p>
    </div>
  
    <div class="form-content">
    <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <label for="exampleFormControlInput1" class="form-label">Local da ocorrência</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <label for="exampleFormControlInput1" class="form-label">Tipo do equipamento</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
        </div>
      </div>
    <div class="row g-2 mt-4">
        <div class="col-md">
          <div class="form-floating">
            <label for="exampleFormControlInput1" class="form-label">Posição do equipamento</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <label for="exampleFormControlInput1" class="form-label">Serial do equipamento</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
        </div>
      </div>
    
      <div class="mb-3 mt-4">
        <label for="exampleFormControlTextarea1" class="form-label">Descrição do problema</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    
      <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-success">Enviar</button>
      </div>
    </div>

</div>